# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate*
*.tfplan
.secrets/

# Rendered manifests (per-deployment, written by Terraform for transparency)
terraform/manifests/*.rendered.yaml

# Environment
.env
*.local

# Helm
charts/
*.tgz

# Editor
.idea/
.vscode/
*.swp
.DS_Store
